html {
  background-image: url(https://image.freepik.com/free-vector/seamless-pattern-lucky-dice-with-six-pop-art-style_77032-2041.jpg);
}
.dice-pic {
  box-shadow: 10px 10px 10px 10px black;
  max-width: 10.5%;
  padding-left: 25vw;
  min-height: 17vh;
  border-radius: 12px;
  margin-left: 42%;
  padding: 0%;
}

.pic1 {
  box-shadow: 10px 10px 10px 10px #17151c;
  border-radius: 25px;
}
h1 {
  background-image: url(https://previews.123rf.com/images/belchonock/belchonock1001/belchonock100102530/6282503-blue-background-in-snake-pattern-style.jpg);
  color: red;
  text-shadow: 2px 2px 2px yellow;
  font-size: 10rem;
  text-align: center;
  border: solid 12px red;
  border-radius: 25px;
  max-width: 45vw;
  margin-left: 25%;
}
p {
  color: aqua;
  text-shadow: 2px 2px 2px navy;
  font-size: 10rem;
  text-align: center;
  border: solid 12px red;
  margin-left: 35%;
  box-shadow: 10px 10px 10px 8px #17151c;
  border-radius: 25px;
  padding-top: 3vh;
  text-align: center;
  width: 25%;
  font-size: 2em;
  height: 8vh;
  text-align: center;
  background-color: red;
}
button {
  background-position-y: 10vh;
  background-size: 110%;
  background-image: url("./diceroll.png");
  margin-left: 43.5%;
  margin-top: 2%;
  height: 8vh;
  width: 8vw;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 8px #17151c;
}
